<!DOCTYPE html>
<html>
<head>
    <title>Dépanneur chez Freud</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto:400,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/touch-icon.png">
    <link rel="apple-touch-icon" href="/touch-icon.png">
    <link rel="manifest" href="manifest.json">
    <meta name="apple-mobile-web-app-title" content="Dep Sigmund">
    <style>
        html, body {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            margin: 0;
        }

        * {
            box-sizing: border-box;
        }

        a, a:active, a:visited { color: inherit; }
    </style>
</head>
<body>
    <div id="app"></div>
    <script defer src="/bundles/vendors~app.js" asp-append-version="true"></script>
    <script defer src="/bundles/app.js" asp-append-version="true"></script>
</body>
</html>